terraform/.terraform/
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfstate.d/
terraform/crash.log
terraform/*/.terraform/
terraform/*/terraform.tfvars
terraform/*/*.tfstate
terraform/*/*.tfstate.*
terraform/*/terraform.tfstate.d/
terraform/*/crash.log
.gh
.opencode/plugins/entire.ts
