# Copy this file to terraform.tfvars and adjust values if needed.
github_owner = "y-writings"

repository_governance = {
  enable_required_code_scanning          = true
  ruleset_enforcement                    = "active"
  required_approving_review_count        = 1
  dismiss_stale_reviews_on_push          = true
  require_code_owner_review              = false
  require_last_push_approval             = false
  required_review_thread_resolution      = true
  required_code_scanning = {
    tool                      = "CodeQL"
    alerts_threshold          = "errors_and_warnings"
    security_alerts_threshold = "high_or_higher"
  }
}

repositories = {
  dotfiles = {
    visibility                 = "public"
    import_existing_repository = true
    delete_branch_on_merge     = true
    has_wiki                   = false
    main_default_ruleset_id    = "14686753"
  }

  templates = {
    visibility                 = "public"
    import_existing_repository = true
    delete_branch_on_merge     = true
    has_wiki                   = true
    main_default_ruleset_id    = "14702457"
  }

  container = {
    visibility                 = "public"
    import_existing_repository = true
    has_wiki                   = true
  }

  karabiner-config = {
    visibility                 = "public"
    import_existing_repository = true
    has_wiki                   = false
    main_default_ruleset_id    = "14687410"
  }

  gh-terraform = {
    visibility                 = "public"
    import_existing_repository = true
    has_wiki                   = true
    main_default_ruleset_id    = "14959390"
  }
}
