# Copy this file to terraform.tfvars and adjust values if needed.
github_owner = "y-writings"

repositories = {
  dotfiles = {
    visibility                   = "public"
    import_existing_repository   = true
    manage_security_and_analysis = true
    delete_branch_on_merge       = true
    has_wiki                     = false
    main_default_ruleset_id      = "14686753"
    required_code_scanning = {
      tool                      = "CodeQL"
      alerts_threshold          = "errors_and_warnings"
      security_alerts_threshold = "high_or_higher"
    }
  }

  templates = {
    visibility                   = "public"
    import_existing_repository   = true
    manage_security_and_analysis = true
    delete_branch_on_merge       = true
    has_wiki                     = true
    main_default_ruleset_id      = "14702457"
    required_code_scanning = {
      tool                      = "CodeQL"
      alerts_threshold          = "errors_and_warnings"
      security_alerts_threshold = "high_or_higher"
    }
  }

  container = {
    visibility                   = "public"
    import_existing_repository   = true
    manage_security_and_analysis = true
    has_wiki                     = true
  }

  karabiner-config = {
    visibility                   = "public"
    import_existing_repository   = true
    manage_security_and_analysis = true
    has_wiki                     = false
    require_last_push_approval   = true
    main_default_ruleset_id      = "14687410"
    required_code_scanning = {
      tool                      = "CodeQL"
      alerts_threshold          = "errors_and_warnings"
      security_alerts_threshold = "high_or_higher"
    }
  }

  gh-terraform = {
    visibility                   = "public"
    import_existing_repository   = true
    manage_security_and_analysis = true
    has_wiki                     = true
    main_default_ruleset_id      = "14959390"
  }
}
